* {
  font-family: cursive;
  text-transform: capitalize;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
}

h1 {
  padding: 15px;
}

p {
  padding-left: 60px;
  font-size: 22px;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1541701494587-cb58502866ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c3BsYXNofGVufDB8fDB8fHww");
  width: 100%;
  height: 600px;
}

h2 {
  padding-left: 30px;
  font-style: italic;
}

.background-repeat {
  width: 100%;
  height: 400px;
  /*! Giving background-image to these div */
  background-image: url("https://plus.unsplash.com/premium_photo-1661894512288-d9b0eacbf1f3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fHNwbGFzaHxlbnwwfHwwfHx8MA%3D%3D");
  /*? Background-repeat property */
  /** With the help of background-repeat property we can repeat our background-image in x-axis or y-axis or  no-repeat property will also give. */
  background-repeat: repeat-x;
  /*? When we give background-repeat : repeat-x than our background will repeat in x-axis */
  background-repeat: repeat-y;
  /*? When we give value repeat-y than our background will repeat in y direction */
  background-repeat: no-repeat;
}

span {
  color: darkred;
}

.deeppink {
  color: deeppink;
}

ul {
  font-size: 22px;
  line-height: 1.5;
}

li {
  padding: 5px;
}

.background-size {
  width: 100%;
  height: 500px;
  /*! Giving background-image property */
  background-image: url("https://images.unsplash.com/photo-1545284234-f4821630060b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHNwbGFzaHxlbnwwfHwwfHx8MA%3D%3D");
  /*! Giving background-repeat propert no-repeat */
  background-repeat: no-repeat;
  /*! Givng background-size property */
  background-size: auto;
  /*? Background-size auto was default property which auto set our background-image */
  background-size: contain;
  /*? Background-size contain will help to Resize the background image to make sure the image is fully visible. Contain background-size will fit our full image in our div element and it does not covered full width just fit full image.*/
  background-size: cover;
  /*? When we give background-size cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-size: 100% 100%;
  /*? We can give height and width of our background-image also we can give in percentage unit. but when we give height and width than our aspect ratio becomes spoilt of our background-image. */
}

.background-position {
  color: rgba(255, 140, 0, 0.427);
  width: 100%;
  height: 400px;
  /*? Giving background-image */
  background-image: url("https://images.unsplash.com/photo-1597495528367-e4f4bb3f3c4a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHNwbGFzaHxlbnwwfHwwfHx8MA%3D%3D");
  /*? Giving background-repeat */
  background-repeat: no-repeat;
  /*? Giving background-size */
  background-size: 100px 100px;
  /*? Giving background-position */
  background-position-x: center;
  /*? Give background-position in x-axis in center */
  background-position-x: left;
  /*? Give background-position left in x-axis which was default position. */
  background-position-x: right;
  /*? Give background-position right in x-axis. */
  background-position-x: 500px;
  /*? We can give background-position in manually also we give 500px in x-axis we can give negative value also. */
  background-position-y: center;
  /*? We can give background-position center in y-axis  */
  background-position-y: top;
  /*? We can give background-position top in y-axis */
  background-position-y: bottom;
  /*? We  can give background-position bottom in y-axis */
  background-position-y: 300px;
  /*? We give manually values to in background-position y-axis also */
  /*! Instead of above we are use background-position short property too!!! */
  background-position: center;
  background-position: top;
  /** In this shorthand property we can give both direction together */
}
