* {
  color: #fff;
  background-color: #111;
  font-family: cursive;
  text-transform: capitalize;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

h3 {
  text-align: center;
}

p {
  padding-left: 50px;
  font-size: 22px;
}

.parent-element {
  width: 80%;
  height: 400px;
  background-color: crimson;
  margin: auto;
}

.child-element {
  width: 80px;
  height: 80px;
  padding: 12px;
  background-color: gold;
  font-size: 16px;
  border-radius: 100%;
  color: #111;
  font-weight: 600;
  /*! Giving relative position */
  position: relative;
  /*! Giving inset property to apply 4 properties together  */
  inset: 50%;
}

h2 {
  padding-left: 35px;
  font-style: italic;
}

.explanation {
  padding-left: 200px;
  color: darkgoldenrod;
}

.child-element-unset {
  width: 80px;
  height: 80px;
  padding: 12px;
  background-color: gold;
  font-size: 16px;
  border-radius: 100%;
  color: #111;
  font-weight: 600;
  /*! Giving relative position */
  position: relative;
  /*! Giving inset property to apply 4 properties together  */
  inset: 50%;
  /*? Giving unset property to position than our child element will got default position or similarly we can apply with other html element */
  position: unset;
}

a {
  color: crimson;
  font-size: 20px;
  text-decoration: none;
  padding: 40px;
  display: inline-block;
  margin: auto;
}

a:hover {
  color: seashell;
}
