body {
  color: #fff;
  background-color: #222;
  font-family: cursive;
  text-transform: capitalize;
}

.percentage-unit-exampleOne {
  color: chocolate;
  background-color: lightgreen;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
  /** Giving width in percentage unit and giving 50%  */
  /*! When we give unit in percentage than it's takes width or height from it's parent element here the parent was body element. */
}

.percentage-unit-exampleTwo {
  color: deeppink;
  background-color: lightblue;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
}

.red-color {
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  color: red;
  font-weight: 600;
  background-color: lightblue;
  border: 3px dashed rgb(193, 15, 104);
}
