* {
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  padding: 15px;
}

p {
  padding-left: 40px;
  font-size: 22px;
}

h2 {
  padding: 30px;
  font-style: italic;
}

h3 {
  text-align: center;
}

.parent-element {
  width: 80%;
  height: 500px;
  background-color: coral;
  margin: auto;
}

.child-element {
  background-color: crimson;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: auto;
  /*! Giving relative position */
  position: relative;
  /*! Giving both top & bottom property and same value 400px */
  /** First we give top property */
  top: 400px;
  /*? Our html element was move towards the bottom */
  /** Giving bottom property */
  bottom: 400px;
  /*? We give the bottom property 400px but it does not work because top property was take precedance and we give first top property so cascade was concept was also not applied. */
}

span {
  color: deeppink;
}

.child-element-negative {
  width: 100px;
  height: 100px;
  background-color: crimson;
  margin: auto;
  padding: 20px;
  /*? Giving relative position */
  position: relative;
  /** Giving top property */
  top: 400px;
  /*! When we give bottom property 400px so precedance takes place which we see in above example so to avoid that we can give negative - 400px to top property which work same as bottom property. */
  top: -2px;
}

a {
  color: crimson;
  font-size: 22px;
  text-decoration: none;
  padding: 40px;
  display: inline-block;
  margin: auto;
}

a:hover {
  color: seashell;
}
