* {
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  padding: 15px;
}

p {
  padding-left: 60px;
  font-size: 22px;
}

h2 {
  padding-left: 30px;
  font-style: italic;
}

.sticky-position {
  width: 400px;
  padding: 20px;
  background-color: yellow;
  color: #111;
  font-weight: 700;
  /*! Giving position sticky */
  position: sticky;
  top: 0;
}

h3 {
  background-color: skyblue;
}

.first {
  background-color: skyblue;
  font-size: 18px;
  color: #111;
}

.second {
  background-color: deeppink;
  font-size: 18px;
}

a {
  color: crimson;
  font-size: 20px;
  text-decoration: none;
  padding: 40px;
  display: inline-block;
  margin: auto;
}

a:hover {
  color: seashell;
}
