* {
  color: #fff;
  background-color: chocolate;
  font-family: cursive;
  text-transform: capitalize;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  font-size: 22px;
}
.one {
  width: 100px;
  height: 100px;
  background-color: crimson;
  padding: 30px;
  display: inline-block;
}
.two {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  padding: 30px;
  display: inline-block;
  /*! Giving second span tah display : none */
  display: none;
}
.three {
  width: 100px;
  height: 100px;
  background-color: deeppink;
  padding: 30px;
  display: inline-block;
}

.example {
  width: 600px;
  height: 200px;
  background-color: skyblue;
  padding: 15px;
  border: 5px solid yellow;
  outline: 6px solid deeppink;
  display: block;
}
