* {
  color: #fff;
  background-color: #111;
  font-family: cursive;
  text-transform: capitalize;
  font-family: cursive;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

p {
  padding-left: 50px;
  font-size: 22px;
  line-height: 1.5;
}

span {
  color: deeppink;
}

h2 {
  padding-left: 45px;
}

h3 {
  text-align: center;
}

.parent {
  width: 80%;
  height: 500px;
  background-color: coral;
  margin: auto;
  /*! Giving position relative */
  position: relative;
}

.child {
  display: inline-block;
  padding: 30px;
  background-color: rgb(229, 46, 107);
  font-weight: 600;
  /*! Giving position absolute */
  position: absolute;
  /*! Giving top property */
  top: 50px;
  /** When we give top property here 50px so it move away from top position to 50px it works as  margin we assume that. */
  /*! Giving bottom property */
  bottom: 50px;
  /*! It was surprising both property was applied here top and bottom not precedance take place so we give bottom also 50px so it move away towards the top position and create gap from bottom position of 50px. */
  /*todo So here from both position top and bottom applied from 50px and left over spaces was cover by html element like a height and we don't want that left space html element was consider as height than we have to use max-height the additional css property to control height of element.  */
}

ul {
  margin-left: 60px;
  font-size: 20px;
  line-height: 1.5;
}

li {
  padding: 10px;
}

strong {
  color: indianred;
}
