* {
  background-color: #111;
  color: #fff;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  padding: 20px;
}

p {
  padding-left: 50px;
  font-size: 22px;
}

h2 {
  padding-left: 35px;
  font-style: italic;
}

h3 {
  padding-left: 40px;
}

h4 {
  text-align: center;
}

.parent-element {
  width: 80%;
  height: 450px;
  background-color: skyblue;
  margin: auto;
}

.child-one {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  background-color: yellow;
  color: #111;
}

.child-two {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  background-color: burlywood;
}

.child-three {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  background-color: crimson;
}

.child-four {
  width: 80px;
  height: 80px;
  padding: 20px;
  text-align: center;
  margin: 40px;
  background-color: deeppink;
}

.absolute {
  position: absolute;
}

a {
  color: crimson;
  font-size: 20px;
  text-decoration: none;
  padding: 40px;
  display: inline-block;
  margin: auto;
}

a:hover {
  color: seashell;
}
