* {
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  padding: 15px;
}

.example-div {
  background-color: coral;
  width: 400px;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  /*! Giving transform properties */
  transform: scale(2) rotate(180deg) translate(50px, 50px);
}
