body {
  color: #fff;
  background-color: #111;
  font-family: cursive;
}

#cascade-example {
  color: rgb(124, 222, 222);
  background-color: rgb(192, 116, 17);
  font-size: 30px;
}

/*! Above we use id selector which has specificity ( 1 , 0 , 0) which was 100  */

#cascade-example {
  color: gold;
  background-color: crimson;
}

/*! Again we style our p element with id selector which has specificity (1,0 ,0) which was 100  */

/*todo " Both have same specificty so here cascade rule apply if any selector has same specificity than cascade rule apply latest one was applied. "  */
