* {
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  padding: 10px;
}

h2 {
  padding-left: 30px;
  font-style: italic;
}

p {
  padding-left: 60px;
  font-size: 22px;
}

.example-opacity {
  width: 600px;
  height: 300px;
  background-color: sandybrown;
  position: relative;
  top: 100px;
  left: 50px;
  /*! Giving transform property */
  transform: scale(2);
  transform-origin: 0 0;
  /*! Giving opcaity property */
  opacity: 0.5;
}

.big-font-size {
  font-size: 6rem;
  background-color: sandybrown;
}

.hidden {
  color: #fff;
  font-weight: 700;
}

.conclusion {
  position: relative;
  top: 400px;
  font-size: 26px;
}

.indianred-color {
  color: indianred;
  font-weight: 600;
}
