body {
  color: lightcoral;
  background-color: lightgreen;
  font-family: cursive;
  text-transform: capitalize;
}

h1,
h2 {
  text-align: center;
}

.explanation {
  font-family: cursive;
  font-size: 25px;
  width: 60%;
  color: #fff;
  background-color: lightblue;
  padding: 30px;
  margin: auto;
}

.border-box {
  margin: auto;
  color: crimson;
  background-color: antiquewhite;
  width: 60%;
  padding: 30px;
  font-size: 25px;
  border: 10px solid;
  /*! Here we use border-sizing property  */
  box-sizing: content-box;
  /*? These "content-box" was default value of box-sizing which add up length of padding and border also  */
  /*! To prevent extra width and height length we have to give value border-box so these help to adjust border and width in our height and width length.   */
  box-sizing: border-box;
}

.borderBox {
  color: crimson;
  font-weight: 600;
}
