* {
  font-family: cursive;
  background-color: #111;
  color: #fff;
  text-transform: capitalize;
  box-sizing: border-box;
}

h1 {
  padding: 15px;
}

h2 {
  padding-left: 30px;
  font-style: italic;
}

h3 {
  text-align: center;
}

p {
  padding-left: 60px;
  font-size: 22px;
}

.flex-container-one {
  width: 60%;
  height: 400px;
  padding: 15px;
  background-color: chocolate;
  margin: auto;
  /*! Giving display flex */
  display: flex;
  align-items: center;
}

.flex-item-parentOne {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: fuchsia;
  font-weight: 18px;
}

.flex-container-two {
  width: 60%;
  height: 400px;
  padding: 15px;
  background-color: hotpink;
  margin: auto;
  /*! Display flex to create flex-container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-parentTwo {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: darkorange;
  font-weight: 18px;
  font-weight: 600;
  box-shadow: 15px 15px 25px 10px rgba(78, 77, 75, 0.91);
}
