* {
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
  font-family: cursive;
  text-transform: capitalize;
}

h1 {
  margin: 20px;
}

p {
  font-size: 22px;
  width: 100%;
  line-height: 1.5;
  color: indianred;
}
