* {
  color: #fff;
  background-color: #111;
  font-family: cursive;
  text-transform: capitalize;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.explanation {
  font-size: 18px;
  color: firebrick;
  padding: 15px;
  background-color: skyblue;
  width: 900px;
  font-weight: 600;
  margin: auto;
}

code {
  border: 1px outset #ddd;
  padding: 6px;
}

ul {
  font-size: 20px;
}

li {
  line-height: 1.5;
  padding: 10px;
}
