* {
  color: #fff;
  background-color: #111;
  font-family: cursive;
  text-transform: capitalize;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

p {
  font-size: 22px;
  padding-left: 40px;
}

h2 {
  text-align: center;
}
.width {
  background-color: coral;
  padding: 20px;
  font-size: 20px;
  /*! Giving width in rem unit */
  width: 20rem;
  /*? Here the width was calculated by font-size of root element which 16px default. So 20 times of 16px = 320px , 320px was width of element. */
  margin: auto;
  height: 15rem;
  /*? Here the height was also calculated from font-size of root element which was 16px. So 20 times of 16px = 200px */
}
