* {
  background-color: #111;
  color: #fff;
}

a {
  text-decoration: none;
  /*! Here we give text-decoration none value */
}

.remove-underline {
  color: crimson;
  text-decoration-line: none;
  /*! We can gie text-decoration-line none value also */
}
